* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #162538;
    width: 100%;
    height:58px;
    border-bottom: #4e84ca 4px solid;
}

/* #teste{
    display: flex;
    flex-direction: row;
} */

img{
    display: flex;
    height: 50px;
    margin-left: 10px;
}

h2{
    display: flex;
    font: size 1.1rem;
    color: white;
    font-weight:400;
    margin-right: 10px;
}

#main{
    position: relative;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

#title-form{
    margin-bottom: 1.7rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
}

#registration-form{
    display: flex;
    flex-direction:column;
    width: 80%;
}

.information-row{
    display: flex;
    flex-direction: column;
}

.information-inputs{
    border: 1px solid rgb(124, 124, 124);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0.5em 0;
    padding: 0.3em;
    font-size: 1rem;
}

.title-labels{  
    text-align: center;
    margin: 1.5em auto 1.5em auto;
    font-size: 1.15rem;
    font-weight: 430;
} 

#background-topics{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    padding: 1em 1em 1em 1em;
    border-radius: 20px;
}

.label-topics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

.label-topics:last-child{
    margin-bottom: 0;
}

#divrate-radios{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 1em;
    font-weight: 450;    
}

.rate-element{
    margin-right:2px;
}

#textblock-feedback{
    margin: auto;
    height: 150px;
    width: 100%;
    border: 1px solid rgb(124, 124, 124);
    resize: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#submit-btn{
    margin: 4em auto 10px auto ;
    width: 22%;
    height: 3em;
    background-color: #2b476b;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    cursor: pointer;
}

#submit-btn:hover{
    background-color: #162538;
    color: white;
}

#footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #162538;
    width: 100%;
    height:58px;
    border-top: #4e84ca 2px solid;
    color: white;
    font-size: small;
    text-align: center;
}

 @media screen and (min-width: 740px) {
    .logo{
        height: 70px;
    }

    .information-inputs{
        flex: 1;
        padding: 1em;
    }

    .information-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .information-row:first-of-type{
        margin-bottom: 10px;
    }

    #background-topics{
        display: flex;
        flex-direction: column;
        background-color: rgb(235, 235, 235);
        padding: 1em 0 1em;
        border-radius: 20px;
    }

    .label-topics{
        margin-left: 10%;
    }

    .checkbox-topic{
        margin-right: 10%;
        width: 1.1em;
    }

    #divrate-radios{
    margin: 0 4em 1em 4em;
    }

    #textblock-feedback{
        width: 90%;
    }

    br{
        display: none;
    }

    #submit-btn{
        width: 15%;
    }

    
}

 @media screen and (min-width: 1024px) {

    #title-form{
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }

    .title-labels{  
        font-size: 1.25rem;
        margin: 2em auto 1.5em auto;
    }

    #background-topics{
        padding: 1.3em 0 1.3em;
    }

    .label-topics{
        font-size: 1.15rem;
        margin-left: 5%;
    }
    .checkbox-topic{
        margin-right: 5%;
        width: 1.2em;
    }

    .rate-element{
        width: 1.22em;
    }

    #divrate-radios{
        font-weight: 450;
        margin: 0 6.5em 1em 6.5em;
    }

    #submit-btn{
        width: 10%;
    }
}